@import "../styles/_config.scss";

.product {
    &-container {
        grid-column: 2 / 3;
        align-self: start;
        justify-self: center;

        max-width: $main-width;
        width: 100%;

        padding: 0 24px;
        @include screen("xl") {
            padding: 0;
        }
    }
}