@import "./_media.scss";

$main-fg: #333;
$main-bg: #fff;
$main-width: map-get($breakPoints, "xl");

$header-bg: #ffdb15;
$header-height: 50px;

$search-outline: #2968C8;
$search-placeholder: #a3a3a3;
$search-button: #f1f0e8;
$search-height: 38px;

$content-bg: #eee;