@import "../styles/_config.scss";

.breadcrumb {
    margin: 8px 0;
    color: $breadcrumb-fg;
    font-size: 14px;

    &-current {
        color: $breadcrumb-fg-current;
        font-weight: 700;
    }
}