@import "../styles/_config.scss";

.search {
    &-form {
        display: inherit;
        width: 100%;

        &:focus-within {
            outline: 1px solid $search-outline;
            border-radius: 4px;
        }
    }

    &-input {
        flex-grow:2;
        border: none;

        height: 38px;
        border-radius: 4px 0 0 4px;
        padding: 4px 8px;
        font-size: 16px;

        &::placeholder {
            color: $search-placeholder;
        }

        &:focus {
            outline: none;
        }
    }

    &-button {
        background-color: $search-button;
        height: $search-height;
        min-width: $search-height;
        border-radius: 0 4px 4px 0;
        border: none;
        cursor: not-allowed;

        &-icon {
            filter: grayscale(100%) invert(70%) brightness(70%) contrast(70%);
            width: 20px;
            height: 20px;
        }
    }

    &-form:valid &-button {
        cursor: pointer;
    }

    &-form:valid &-button-icon {
        filter: none;
    }
}