@import "./styles/_config.scss";

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;

  background-color: $content-bg;
}
